div.game{
    margin: 50px auto;
    width: 450px;
    @include flex-box;
    align-items: flex-start;
    div.sheet{
        padding: $dpadding;
        background-color: #efefef;
        border-radius: 3px;
        table{
            // background-color: #fff;
            td, th{
                width: 100px;
                height: 40px;
                text-align: center;
                // padding: 5px;
                
                &.selected{
                    background-color: rgb(227, 255, 227);
                    box-shadow: 0 0 5px #0f0;
                  
                    input{
                        padding: inherit;
                        border-radius: unset;
                        font-size: inherit;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }
                }
            }

            tr.hide{
                display: none;
            }
        }
    }
    div.controller{
        height: 130px;
        @include flex-box(column);
        padding: $dpadding;
    }
}