// global variables
$font-color: #444;
$dtrans: all 0.2s ease;
$dpadding: 20px;
$dborderrds: 7px;

// mixins
@mixin flex-box($direction: row, $jstfy: space-between, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $jstfy;
  align-items: $align;
}

// global declarations
*{ margin: 0; padding: 0; box-sizing: border-box}

body{
  background-color: #aaa;
}

button{
  min-width: 80px;
  outline: none;
  border: none;
  padding: 0.5em;
  text-align: center;
  border-radius: $dborderrds;
  font-size: 13pt;
  font-weight: bold;
  color: $font-color;
  cursor: pointer;
  transition: $dtrans;
}

input{border: none; outline: none; padding: 10px;border-radius: $dborderrds;font-size: 12pt;}

a{text-decoration: none; color: unset;}

ul{list-style: none}

table, td, th{
  border: 2px solid #ddd;
  border-collapse: collapse;
}


// App style

.App{
  @include flex-box(column);
  margin-top: 50px;
}

// imports
@import "./sass/register_player";
@import "./sass//game";

















// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
