// global variables
$font-color: #444;
$dtrans: all 0.2s ease;
$dpadding: 20px;
$dborderrds: 7px;
$accent-color: rgb(76, 203, 76);
$nd-accent-color: rgb(201, 102, 75);

// mixins
@mixin flex-box($direction: row, $jstfy: space-between, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $jstfy;
  align-items: $align;
}

// global declarations
*{ margin: 0; padding: 0; box-sizing: border-box}

body{
  background-color: #aaa;
}

button{
  min-width: 80px;
  outline: none;
  border: none;
  color: #ddd;
  padding: 0.5em;
  text-align: center;
  border-radius: $dborderrds;
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
  transition: $dtrans;
}

input{border: none; outline: none; padding: 10px;border-radius: $dborderrds;font-size: 12pt;}

a{text-decoration: none; color: unset;}

ul{list-style: none}

table, td, th{
  border: 2px solid #ddd;
  border-collapse: collapse;
}


// App style

.App{
  text-align: center;
  color: $font-color;

  > h1{
    font-size: 3em;

    span{
      color: $nd-accent-color;
    }
  }

  > h3 span{
      color: $nd-accent-color;
      font-size: 1.3em;
  }
}

.green-button{
  background-color: $accent-color;
  &:hover{
      background-color: #eee;
      color: $accent-color;
  }
}

.red-button{
  background-color: $nd-accent-color;

  &:hover{
      background-color: #eee;
      color: $nd-accent-color;
  }
}

// imports
@import "./sass/register_player";
@import "./sass//game";
@import "./sass/results";

















// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
